.page-section {
    width: 100%;
    height: 100vh;
}
 
.page-section > div {
    height: 11rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -70%);
}

#home > div >.line1 {
    font-size: 5rem;
}


#home > div >.line2 {
    font-size: 4rem;
}

#home > div >.line3 {
    font-size: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #home > div >.line1 {
        font-size: 1.5rem;
    }

    #home > div >.line2 {
        font-size: 1rem;
    }

    #home > div >.line3 {
        font-size: 0.8rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    #home > div >.line1 {
        font-size: 1.5rem;
    }

    #home > div >.line2 {
        font-size: 1rem;
    }

    #home > div >.line3 {
        font-size: 0.8rem;
    }
} */